# Text files
*.txt

# JSON files
blacklist.json
muterole.json
prefixes.json
supportTicketID.json
credentials.json

# DB files
*.db

# webm files
*.webm

# VENV/IDEA folders
venv/
.idea/

# private py files
bot/cogs/spreadsheet.py
